.categories-container {
  padding: 2em !important;
  background-color: #FFF !important;
  .cateogry {
    cursor: pointer;
    border-right: 1px solid #A5A5A5;
    padding: 0.5em 0;
    text-align: right;
    .name {
      padding-right: 1em;
      color: $black-light;
      font-weight: bold;
      font-size: 1.25em;
      line-height: 1.1;
    }
    &.active {
      .name {
        border-right: 3px solid #2185d0;
      }
    }
  }
  &.fixed {
    position: fixed;
    width: 25%;
    top: 15em;
  }
}