.checkout-container {
  padding: 2em;
  .title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    color: $black-light;
  }
  .checkout-items-container {
    max-height: 15em;
    overflow-y: auto;
  }
  .checkout-item {
    display: flex;
    margin-bottom: 1em;
    .name {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      display: -webkit-box;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .quantity {
      padding: 0 1em;
    }
    .cost {
      position: relative;
      top: 0.5em;
      text-align: right;
      width: 25%;
      padding-right: 1em;
    }
  }
  .subtotal-container {
    .subtotal {
      display: flex;
      margin-top: 2em;
      .title {
        flex: 1;
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
      .amount {
        font-weight: bold;
        font-size: 1.5em;
        padding-right: 0.65em;
      }
    }
    .note {
      color: #a0a0a0;
      font-size: 1em;
    }
  }
  .checkout-button {
    margin-top: 2em;
  }
}