@import './menu';
@import './checkout';

.restaurant-details-container {
  .restaurant-title {
    color: white;
    font-size: 3em !important;
  }
  .details-container {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
    margin-bottom: 0;
    border-radius: 0 !important;
  }
  .restaurnat-details {
    display: flex;
    margin-bottom: 2em;
    .element {
      padding: 0.5em 1em;
      border-right: 1px solid white;
      &:last-child {
        border-right: 0;
      }
      &.method, &.cost {
        .method-type, .cost-type {
          font-weight: bold;
        }
      }
    }
  }
  &.fixed-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    .restaurant-title {
      color: white;
      font-size: 2em !important;
    }
    .restaurant-image {
      // height: 10em;
    }
    .restaurnat-details {
      margin-bottom: 1em;
    }
  }
}

.restaurant-details-mobile-container {
  border-radius: 0 !important;
  &.fixed-container {
    display: flex;
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5em;
    z-index: 200;
    .title {
      flex: 1;
      font-size: 1.25em;
      font-weight: bold;
      padding: 0 1em;
    }
  }
  &.relative-container {
    i.icons {
      font-size: 1em;
    }
    .image-container {
      width: 100%;
    }
    .details-container {
      margin: 0;
      padding: 1em;
      border-radius: 0;
    }
    .header-container {
      position: relative;
      .back-arrow {
        position: absolute;
        top: 1em;
        left: 0.5em;
        font-size: 1.5em;
        z-index: 99;
        color: white;
        background-color: transparent;
      }
    }
    .title-container {
      display: flex;
      padding: 1em 0;
      .restaurant-title {
        font-weight: bold;
        flex: 1;
        font-size: 1.5em;
      }
    }
    .restaurnat-details {
      display: flex;
      .element {
        flex: 1;
        padding: 0.5em 1em;
        text-align: center;
        &.method, &.cost {
          .method-type, .cost-type {
            font-weight: bold;
          }
        }
      }
    }
  }
}