@import './categories';

.menu-list-container {
  padding: 2em 0;
  z-index: 100;
  position: relative;
  .category-container {
    .separator {
      border-top: 2px solid black;
      padding-bottom: 2em;
      margin-top: 1em;
    }
    .category-title {
      display: flex;
      margin-bottom: 1em;
      &.hide-menu {
        margin-bottom: 2em;
      }
      .title-content {
        flex: 1;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2;
      }
      .toggle-icon {
        padding: 0 1em;
        cursor: pointer;
        font-size: 1.5em;
        .icon {
          position: relative;
          top: 0.5em;
        }
      }
    }
    &:first-child {
      .separator {
        border-top: 0;
        padding-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .menu-item {
    padding: 1.5em 0;
    border-bottom: 1px solid #e4e4e4;
    &:last-child {
      border-bottom: 0;
    }
    .menu-item-container {
      display: flex;
      .menu-info {
        flex: 1;
      }
      .add {
        .customize {
          color: #e0e0e0;
        }
      }
      .menu-image {
        padding-right: 1em;
        max-height: 80px;
      }
    }
    .menu-name {
      font-weight: bold !important;
      font-size: 1.05em;
      margin-bottom: 0.5em;
      padding-right: 1em;
    }
    .ingredients {
      margin-bottom: 0.5em;
      font-style: italic;
    }
    .description {
      margin-bottom: 0.5em;
    }
    .price {
      font-weight: bold;
    }
  }
}

.add-item-container {
  .add-new-item {
    cursor: pointer;
    border: 1px solid #d4d5d9;
    padding: 0.5em 1em;
    font-weight: bolder;
    color: #60b246;
    font-size: 0.85em;
    width: 7em;
    text-align: center;
  }
  .note {
    font-size: 0.8em;
    text-align: center;
  }
  .new-item-count-container {
    display: flex;
    .subtract {
      padding: 0 0.25em;
      font-size: 1.25em;
    }
    .count {
      flex: 1;
    }
    .add {
      padding: 0 0.25em;
      font-size: 1.25em;
    }
  }
}