.prodhunt-landing-container {
  padding: 1em 0;
  background-color: #FBFBFD;
  .title {
    font-size: 4em;
    font-style: italic;
    font-family: $lora-family-font;
    text-align: center;
  }
  .description {
    color: #363A40;
    text-align: center;
    font-size: 1.5em;
  }
}

.categories-container {
  background-color: #FBFBFD;
  padding: 1em 0;
  .category-container {
    padding: 1em 2em 1.5em;
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.0792996);
    height: 100%;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 2em;
      font-style: italic;
      font-family: $lora-family-font;
      text-align: center;
      padding: 0.5em;
      font-weight: bold;
    }
    .features-container {
      .feature-container {
        height: 100%;
        background-color: #F5F7F8;
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.0792996);
        border-radius: 12px;
        padding: 0em 0.5em 0.5em;
        border: 0;
        .feature-image {
          margin: auto;
          padding-bottom: 1em;
        }
        .feature-description {
          padding: 1em 0;
          text-align: center;
        }
      }
    }
    .invite-container {
      margin: 1em 0 2em;
      flex: 1;
      .qr-code-section {
        text-align: center;
        .invite-title {
          font-size: 1.5em;
          margin-bottom: 1em;
        }
        .invite-qr-code {
          margin: auto;
        }
      }
      .separtor {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.5em;
      }
      .table-section {
        text-align: center;
        .invite-title {
          font-size: 1.5em;
          margin-bottom: 1em;
          .sub-title {
            font-size: 0.85em;
          }
        }
      }
      .order-container {
        .order-input {
          margin-bottom: 1em;
        }
        .order-button {
          background-color: $order-button-color;
          color: white;
          &:visited, &:hover {
            background-color: $order-button-color;
            color: white;
          }
        }
      }
      .signup-container {
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        .order-button {
          width: 50%;
        }
      }
    }
  }
}