.menu-items-container {
  .add-menu {
    margin-left: 2em;
  }
}

.menu-container {
  .field {
    margin-bottom: 1em;
  }
}

.customisations-container {
  .action-icon {
    cursor: pointer;
    padding-right: 1.5em;
  }
  .customisation-table {
    padding-bottom: 1em;
  }
  .customisation-component {
    background-color: aliceblue;
    .option-component {
      background-color: #D0E3F3;
    }
    .option-table-container {
      margin-bottom: 1em;
    }
  }
}