.home-container {
  .desktop-container {
    display: block;
  }
  .mobile-container {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .desktop-container {
      display: none;
    }
    .mobile-container {
      display: block;
    }
  }
}

.banner-container {
  height: 30em;
  background-image: url('../../../assets/banner.jpg');
  background-size: cover;
  margin-bottom: 4em;
  background-position: 0 50em;
  &.mobile-banner {
    height: 15em;
    background-position: unset;
    margin-bottom: 2em;
  }
}


.footer-container {
  width: 100%;
  border-top: 1px solid #EBEBED;
  padding-top: 1em;
  .logo-container {
    display: flex;
    justify-content: center;
    .logo {
      height: 3em;
    }
    .app-title {
      margin: 0 1em;
    }
  }
  .copy-right {
    text-align: center;
  }
}