
.menu-nvabar, .guest-menu-nvabar {
  .account {
    font-weight: bold;
    color: $black-alt;
    padding-right: 2em;
    cursor: pointer;
    position: relative;
    .orders-count {
      border-radius: 4em;
      position: absolute;
      top: -15px;
      left: -2.5em;
    }
  }
  
  .app-title {
    font-weight: bold;
    padding-left: 1em;
    color: black;
    cursor: pointer;
  }
}

.module-container {
  &.ui.fluid.container {
    margin: 0 !important;
  }
}

.guest-menu-nvabar {
  background-color: white !important;
  .app-title {
    cursor: pointer;
  }
}